.overlayColor {
        background-color:#000;
        opacity:.7;
}

.shopping {
        margin: 0.5rem;
        padding: 0.5rem;
        background: red;
        color: white;
        border: none;
        border-radius: 1rem;
        font-weight: 500;
}

.shopping:hover {
        color: green;
}