.overlayColor {
        background-color:#000;
        opacity:.7;
        height: 10rem;
        border-radius: 5%;
}

.shopping {
        margin: 0.5rem;
        padding: 0.5rem;
        background: red;
        color: white;
        border: none;
        border-radius: 1rem;
        font-weight: 500;
}

.shopping:hover {
        color: green;
}

.home {
        min-height: 100vh
}

@media only screen and (min-width: 768px) {

        h5 { font-size: 1.1em; }

       .home {
                font-size: 0.8em;
       }
}